<h1>Requests</h1>

<% @requests.each do |request| %>
<% if !request.image %>
<% request.image = 'https://picsum.photos/200/300' %>
<% end %>
<div class="request">
  <%= link_to image_tag(request.image), "requests/#{request.id}" %>
  <p><%= link_to "#{request.question}", new_request_response_path(request) %></p>
</div>
<% end %>
