// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_response{
  font-size: 48px;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .image{
    height: 600px;
    width: 600px
  }
  .submit{
    text-align: center;
    font-family: 'Pacifico';
    color: white;
    width: 100px;
    height: 32px;
    text-transform: uppercase;
    background-color: #ff383f;
  }
}
.comment{
  input{
    font-size: 16px;
    border-radius: 4px;
    width: 300px;
  }
}
